.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
    background-color: blue;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
    background-color: greenyellow;
}

.mole {
	background-image: url("mole.jpg");
	background-size: cover;
}
h2 {
	color: blue;
}